{% extends "base.html" %} {% block article %}
{% load i18n %}

<!-- Container -->
  <div class="flex flex-row flex-wrap gap-x-10 gap-y-5 w-full justify-evenly max-w-6xl mx-auto">
    <a 
    href="{% url 'administration:staff' %}"
    class="
    flex flex-col bg-white shadow-md rounded-lg 
    h-20 px-4 py-2 w-60
    max-sm:w-full
    ">
      <p class="font-semibold">{% trans "staffs"|capfirst %}</p>
      <span class="text-right text-2xl">{{ staff.count }}</span>
    </a>
    <a 
    href="{% url 'administration:user' %}"
    class="
    flex flex-col bg-white shadow-md rounded-lg 
    h-20 px-4 py-2 w-60
    max-sm:w-full
    ">
      <p class="font-semibold">{% trans "users"|capfirst %}</p>
      <span class="text-right text-2xl">{{ user.count }}</span>
    </a>
    <a 
    href="{% url 'administration:application' %}"
    class="
    flex flex-col bg-white shadow-md rounded-lg 
    h-20 px-4 py-2 w-60
    max-sm:w-full
    ">
      <p class="font-semibold">{% trans "application"|capfirst %}</p>
      <span class="text-right text-2xl">{{ application.count }}</span>
    </a>
  </div>
  
  <div class="flex h-[400px] px-4 py-8 bg-white rounded-lg shadow-md">
    <span class="w-full contain-content text-nowrap text-ellipsis font-medium">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
    </span>
  </div>
  
  <div class="grid 2xl:grid-cols-3 max-2xl:grid-cols-2 max-md:grid-cols-1 gap-y-10 gap-x-5">
    <div class="mx-auto flex w-full h-[300px] px-4 py-8 bg-white rounded-lg shadow-md transform ease-linear duration-300">
      <span class="w-full contain-content text-nowrap text-ellipsis font-medium">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
      </span>
    </div>
    <div class="mx-auto flex w-full h-[300px] px-4 py-8 bg-white rounded-lg shadow-md transform ease-linear duration-300">
      <span class="w-full contain-content text-nowrap text-ellipsis font-medium">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
      </span>
    </div>
    <div class="mx-auto flex w-full h-[300px] px-4 py-8 bg-white rounded-lg shadow-md transform ease-linear duration-300">
      <span class="w-full contain-content text-nowrap text-ellipsis font-medium">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
      </span>
    </div>
    <div class="mx-auto flex w-full h-[300px] px-4 py-8 bg-white rounded-lg shadow-md transform ease-linear duration-300">
      <span class="w-full contain-content text-nowrap text-ellipsis font-medium">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
      </span>
    </div>
    <div class="mx-auto flex w-full h-[300px] px-4 py-8 bg-white rounded-lg shadow-md transform ease-linear duration-300">
      <span class="w-full contain-content text-nowrap text-ellipsis font-medium">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
      </span>
    </div>
    <div class="mx-auto flex w-full h-[300px] px-4 py-8 bg-white rounded-lg shadow-md transform ease-linear duration-300">
      <span class="w-full contain-content text-nowrap text-ellipsis font-medium">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
      </span>
    </div>
    <div class="mx-auto flex w-full h-[300px] px-4 py-8 bg-white rounded-lg shadow-md transform ease-linear duration-300">
      <span class="w-full contain-content text-nowrap text-ellipsis font-medium">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
      </span>
    </div>
    <div class="mx-auto flex w-full h-[300px] px-4 py-8 bg-white rounded-lg shadow-md transform ease-linear duration-300">
      <span class="w-full contain-content text-nowrap text-ellipsis font-medium">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
      </span>
    </div>
    <div class="mx-auto flex w-full h-[300px] px-4 py-8 bg-white rounded-lg shadow-md transform ease-linear duration-300">
      <span class="w-full contain-content text-nowrap text-ellipsis font-medium">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
      </span>
    </div>
    <div class="mx-auto flex w-full h-[300px] px-4 py-8 bg-white rounded-lg shadow-md transform ease-linear duration-300">
      <span class="w-full contain-content text-nowrap text-ellipsis font-medium">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
      </span>
    </div>
    <div class="mx-auto flex w-full h-[300px] px-4 py-8 bg-white rounded-lg shadow-md transform ease-linear duration-300">
      <span class="w-full contain-content text-nowrap text-ellipsis font-medium">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
      </span>
    </div>
    <div class="mx-auto flex w-full h-[300px] px-4 py-8 bg-white rounded-lg shadow-md transform ease-linear duration-300">
      <span class="w-full contain-content text-nowrap text-ellipsis font-medium">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit porro similique autem mollitia, quae accusantium expedita omnis veniam ea doloremque amet. Ea dolor alias autem mollitia. Fugit tempora maiores dolorum!
      </span>
    </div>
  </div>
{% endblock article %}
