<header 
class="fixed w-full flex justify-between items-center shadow-lg bg-white px-6 py-4 h-12"
>
    <div class="flex">
        <div class="block">
            <!-- Titre d'entête -->
        <h3 class="text-xl font-bold">{{ title }}</h3>
        {% if title == "Accueil" %}
        <!-- Souhait et Nom de l'utilisateur connecté -->
        <h2 class="font-extralight px-2"> Ravi de vous revoir, <span class="font-semibold font-serif">{{ user.last_name.upper }} {{ user.first_name.capitalize }}</span></h2>
        {% endif %}
        </div>
        <div class="inline-flex">
             <!-- Sous-menu -->
            <h3></h3>
            <img src="" alt="">
        </div>
    </div>
</header>