{% extends "base.html" %} {% block article %}
<!-- Contenus -->
<div class="h-[200px] container   px-4 py-8 bg-white rounded-lg ">
</div>
<div class="h-[200px] container mx-auto px-4 py-8 bg-white rounded-lg">
</div>
<div class="h-[200px] container   px-4 py-8 bg-white rounded-lg">
</div>
<div class="h-[200px] container mx-auto px-4 py-8 bg-white rounded-lg">
</div>
<div class="h-[200px] container mx-auto px-4 py-8 bg-white rounded-lg">
</div>
<div class="h-[200px] container mx-auto px-4 py-8 bg-white rounded-lg">
</div>
<div class="h-[200px] container mx-auto px-4 py-8 bg-white rounded-lg">
</div>
<div id="3" class="h-[200px] container mx-auto px-4 py-8 bg-white rounded-lg">
</div>
{% endblock article %}
