{% extends "base.html" %} {% block article %}
<!-- Contenus -->
<!-- Menu principal Horizontal -->
{% include 'components/header.html' %} 

<!-- Container -->
<main class="flex mt-20 mb-10 flex-col flex-1 gap-4 mx-10">
  <div class="h-[200px] container   px-4 py-8 bg-white rounded-lg ">
  </div>
  <div class="h-[200px] container mx-auto px-4 py-8 bg-white rounded-lg">
  </div>
  <div class="h-[200px] container   px-4 py-8 bg-white rounded-lg">
  </div>
  <div class="h-[200px] container mx-auto px-4 py-8 bg-white rounded-lg">
  </div>
</main>
{% endblock article %}
