{% extends "base.html" %}
{% block article %}
{% load i18n %}

<div class="flex flex-initial flex-col">
    <div class="flex flex-row max-md:flex-wrap rounded-t-3xl px-5 py-4 min-h-80 gap-4
    {% if certificate.born.gender == 'M' %}{% if certificate.born.is_alive %} bg-blue-200 {% else %} bg-gray-300 hover:bg-blue-200 {% endif %}{% else %}{% if certificate.born.is_alive %} bg-rose-200 {% else %} bg-gray-300 hover:bg-rose-200 {% endif %}{% endif %}
    ">
        <div class="flex flex-col w-full justify-end gap-4 pt-12">
            <div class="text-6xl max-xl:text-5xl max-lg:text-4xl font-bold">
                {{ certificate.born.full_name }}
            </div>
            <div class="flex max-md:flex-wrap gap-4">
                <div class="flex flex-col ml-10 gap-2 w-full">
                    <div class="flex flex-wrap gap-x-7 gap-y-2 w-full">
                        <p><b>{% trans 'birthday'|capfirst %} :</b> {{ certificate.born.birthday|date:'d-m-Y H:i' }}</p>
                        <p><b>{% trans 'fokotany'|capfirst %} :</b> {{ certificate.fokotany.name|title }}</p>
                    </div>
                    <div class="flex flex-row  flex-wrap gap-x-10 gap-y-4 w-full">
                        {% if certificate.father %}
                        <div class="flex flex-col">
                            <p {% if certificate.father == certificate.declarer %} class="text-lg underline underline-offset-2 cursor-pointer" title="{% trans 'declarer'|capfirst %}" {% else %}class="text-lg"{% endif %}><b>{% trans 'father'|capfirst %} :</b> {{ certificate.father.full_name }}</p>
                            <p class="text-sm"><b>{% trans 'birthday'|capfirst %} :</b> {{ certificate.father.birthday|date:'d-m-Y' }}</p>
                            <p class="text-sm"><b>{% trans 'address'|capfirst %} :</b> {{ certificate.father_address }}</p>
                            <p class="text-sm"><b>{% trans 'carreer'|capfirst %} :</b> {{ certificate.father_carreer }}</p>
                        </div>
                        {% endif %}
                        <div class="flex flex-col">
                            <p {% if certificate.mother == certificate.declarer %} class="text-lg underline underline-offset-2 cursor-pointer" title="{% trans 'declarer'|capfirst %}" {% else %}class="text-lg"{% endif %}><b>{% trans 'mother'|capfirst %} :</b> {{ certificate.mother.full_name }}</p>
                            <p class="text-sm"><b>{% trans 'birthday'|capfirst %} :</b> {{ certificate.mother.birthday|date:'d-m-Y' }}</p>
                            <p class="text-sm"><b>{% trans 'address'|capfirst %} :</b> {{ certificate.mother_address }}</p>
                            <p class="text-sm"><b>{% trans 'carreer'|capfirst %} :</b> {{ certificate.mother_carreer }}</p>
                        </div>                    
                        {% if certificate.father != certificate.declarer and certificate.mother != certificate.declarer %}
                        <div class="flex flex-col">
                            <p class="text-lg"><b>{% trans 'declarer'|capfirst %} :</b> {{ certificate.declarer.full_name }}</p>
                            <p class="text-sm"><b>{% trans 'birthday'|capfirst %} :</b> {{ certificate.declarer.birthday|date:'d-m-Y' }}</p>
                            <p class="text-sm"><b>{% trans 'address'|capfirst %} :</b> {{ certificate.declarer_address }}</p>
                            <p class="text-sm"><b>{% trans 'carreer'|capfirst %} :</b> {{ certificate.declarer_carreer }}</p>
                        </div>  
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-4 justify-between whitespace-nowrap">
            <div class="">
                <p><b>N°</b> {{ certificate.numero }}</p>
                <p><b>{% trans 'declaration date'|capfirst %} :</b> {{ certificate.date_declaration|date:'d-m-Y H:i' }}</p>
            </div>
            <div class="flex gap-x-7 justify-end self-end whitespace-nowrap">
                <div class="flex justify-center items-center h-full">{{ age }}</div>
                <div class="flex justify-center items-center h-full">Not married</div>
                <div class="flex justify-center items-center h-full">{{ status|capfirst }}</div>
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-7 rounded-b-3xl p-4 bg-white min-h-[500px]">
        <div class="flex justify-between gap-2">
            <p class="text-sm">Date created : {{ certificate.date_created|date:'d-m-Y H:i' }}</p>
            <p class="text-sm">Date modified : {{ certificate.date_modified|date:'d-m-Y H:i' }}</p>
        </div>
        <div class="flex flex-wrap justify-center gap-7">
            <a href="" class="flex items-center p-4 gap-4 rounded-xl shadow-md w-80">
                <div class="flex rounded-full min-w-16 min-h-16 items-center justify-center border-4 border-blue-500 text-xl font-semibold">
                    {{ document.count|default:0 }}
                </div>
                <div class="flex flex-col">
                    <p class="text-md font-semibold">{% trans "Copies de Naissance"|upper %}</p>
                    <p class="text-blue-400">{% trans 'last at ' %}{{ document.last.created_at|date:'d-m-Y H:i' }}</p>
                </div>
            </a>
            {% if not certificate.born.is_alive %}
            <a href="" class="disabled:cursor-not-allowed flex items-center p-4 gap-4 rounded-xl shadow-md w-80">
                <div class="flex rounded-full min-w-16 min-h-16 items-center justify-center border-4 border-gray-500 text-xl font-semibold">
                    {{ 0 }}
                </div>
                <div class="flex flex-col">
                    <p class="text-md font-semibold">{% trans "Copies de Décès"|upper %}</p>
                    <p class="text-gray-400">{% trans 'last at ' %}</p>
                </div>
            </a>
            {% endif %}
            <a href="" class="flex items-center p-4 gap-4 rounded-xl shadow-md w-80">
                <div class="flex rounded-full min-w-16 min-h-16 items-center justify-center border-4 border-rose-500 text-xl font-semibold">
                    {{ 0 }}
                </div>
                <div class="flex flex-col">
                    <p class="text-md font-semibold">{% trans "Copies de Mariage"|upper %}</p>
                    <p class="text-rose-400">{% trans 'last at ' %}</p>
                </div>
            </a>
        </div>

        <!-- Liste de Copies de Naissance -->
         <div class="container flex flex-col gap-2">
            {% for doc in document %}
            <a href="{% url 'civil:certificate-preview' doc.pk %}" class="w-full shadow-md rounded-lg p-4 bg-white hover:bg-blue-50">
                <p class="contain-content text-nowrap text-ellipsis">
                <span class="text-blue-400">{{ doc.date_created|date:"d-m-Y H:i" }} </span>
                --- N° {{ doc.pk }} --- {{ doc.birth_type }} --- {{ doc.get_price }} Ar
                </p>
            </a>
            {% endfor %}
         </div>

        <!-- Boutons d'Actions -->
         <div class="flex flex-col items-center fixed gap-2 rounded-xl bg-white shadow-md min-w-52 p-4 right-10 bottom-7">
            <a class="px-4 py-2 border border-white text-white shadow-md bg-gray-300 rounded-lg w-full text-center cursor-not-allowed"
            title="En construction"
            >
                Arbre de Famille
            </a>
            <a class="px-4 py-2 border border-white text-white shadow-md bg-gray-300 rounded-lg w-full text-center cursor-not-allowed"
            title="En construction"
            >
                Arbre Généalogique
            </a>
            <form action="" method="post" class="flex flex-col gap-1">
                {% csrf_token %}
                <div class="flex gap-x-2 justify-center">
                    <button type="button" onclick="downManyCp()" class="px-4 text-xl bg-gray-100 rounded-lg">-</button>
                    <input id="id_many_cp" name="many_cp" type="number" value=1 min=1 max=10 class="text-end w-16 focus:ring-0 border-0 border-b-2">
                    <button type="button" onclick="upManyCp()" class="px-4 text-xl bg-gray-100 rounded-lg">+</button>
                </div>
                <button name="cp_birth" class="px-4 py-2 border border-white text-white shadow-md bg-green-600 hover:bg-green-500 rounded-lg w-full text-center cursor-pointer"
                title="Faire une Copie de Naissance"
                >
                    Faire Cp. Naissance
                </button>
                <button name="cp_death"  class="px-4 py-2 border border-white text-white shadow-md bg-green-600 hover:bg-green-500 rounded-lg w-full text-center cursor-pointer"
                title="Faire une Copie de Décès"
                >
                    Faire Cp. Décès
                </button>
                <a href="" class="px-4 py-2 border border-white text-white shadow-md bg-green-600 hover:bg-green-500 rounded-lg w-full text-center cursor-pointer"
                title="Faire une Copie de Mariage"
                >
                    Faire Cp. Mariage
                </a>
            </form>
            {% if not certificate.father %}
            <a href="" class="px-4 py-2 border border-white text-white shadow-md bg-yellow-500 hover:bg-yellow-400 rounded-lg w-full text-center cursor-pointer"
            title="Reconnaissance par le père"
            >
                Reconnaitre
            </a>
            {% endif %}
            <a href="{% url 'civil:birth-delete' certificate.pk %}" class="px-4 py-2 border border-white text-white shadow-md {% if certificate %}bg-rose-600 hover:bg-rose-500{% else %}{% endif %} rounded-lg w-full text-center cursor-pointer"
            title="Supprimer"
            >
                Supprimer
            </a>
            <a onclick="history.back()" class="px-4 py-2 border border-white text-white shadow-md bg-gray-600 hover:bg-gray-500 rounded-lg w-full text-center cursor-pointer"
            title="Retourner"
            >
                Retourner
            </a>
         </div>
    </div>
</div>

<script>
    function downManyCp() {
        if ($('#id_many_cp').val() > 1) {
            $('#id_many_cp').val(Number($('#id_many_cp').val()) - 1);
        }
    }

    function upManyCp() {
        if ($('#id_many_cp').val() < 10) {
            $('#id_many_cp').val(Number($('#id_many_cp').val()) + 1);
        }
    }
</script>

{% endblock article %}
