{% extends "base.html" %}
{% block article %}
{% load humanize %}
{% load i18n %}

<div class="flex flex-initial flex-col">
    <div class="flex justify-between text-gray-500">
        <div class="flex gap-x-4 ml-4">
            <a onclick="history.back()" class="text-sm hover:text-gray-800 cursor-pointer"
            title="{% translate 'Back' %}"
            >
                {% translate "Back" %}
            </a>
            <a href="{{ person.url_modify }}" class="text-sm hover:text-blue-600 cursor-pointer"
            title="{% translate 'Modify' %}"
            >
                {% translate "Modify" %}
            </a>
            <button type="button" onclick="supprimCertificate()" class="text-sm hover:text-rose-600 cursor-pointer"
            title="{% translate 'Delete' %}"
            >
                {% translate "Delete" %}
            </button>
        </div>
        <div class="flex gap-10 mr-4">
            {% if prev_person.pk %}
            <a class="w-2" href="{% url 'civil:person-detail' prev_person.pk %}">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg class="rotate-180" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" width="24" height="24"><g id="_01_align_center" data-name="01 align center"><path d="M17.414,10.586,13.121,6.293,11.707,7.707,15,11H5v2H15l-3.293,3.293,1.414,1.414,4.293-4.293A2,2,0,0,0,17.414,10.586Z"/></g></svg>
            </a>
            {% else %}
            <p class="w-2"></p>
            {% endif %}
            {% if next_person.pk %}
            <a class="w-2" href="{% url 'civil:person-detail' next_person.pk %}">
                <?xml version="1.0" encoding="UTF-8"?>
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" width="24" height="24"><g id="_01_align_center" data-name="01 align center"><path d="M17.414,10.586,13.121,6.293,11.707,7.707,15,11H5v2H15l-3.293,3.293,1.414,1.414,4.293-4.293A2,2,0,0,0,17.414,10.586Z"/></g></svg>
            </a>
            {% else %}
            <p class="w-2"></p>
            {% endif %}
        </div>
    </div>
    <div class="flex flex-row max-md:flex-wrap rounded-t-3xl px-5 py-4 min-h-80 gap-4
    {% if person.gender == 'M' %}{% if person.is_alive %} bg-blue-200 {% else %} bg-gray-300 hover:bg-blue-200 {% endif %}{% else %}{% if person.is_alive %} bg-rose-200 {% else %} bg-gray-300 hover:bg-rose-200 {% endif %}{% endif %}
    ">
        <div class="flex flex-col w-full justify-end gap-4 pt-12">
            <div class="text-6xl max-xl:text-5xl max-lg:text-4xl font-bold">
                {{ person.full_name }}
            </div>
            <div class="flex max-md:flex-wrap gap-4">
                <div class="flex flex-col gap-2 w-full">
                    <div class="flex flex-wrap ml-5 gap-x-7 gap-y-2 w-full">
                        {% if person.birthday %}
                        <p><b>{% trans 'birthday'|capfirst %} :</b> {{ person.birthday|date:'d-m-Y H:i' }}</p>
                        {% endif %}
                        {% if person.birth_place %}
                        <p><b>{% trans 'at'|capfirst %} :</b> {{ person.birth_place }}</p>
                        {% endif %}
                        {% if person.carreer %}
                        <p><b>{% trans 'carreer'|capfirst %} :</b> {{ person.carreer }}</p>
                        {% endif %}
                        {% if person.address %}
                        <p><b>{% trans 'address'|capfirst %} :</b> {{ person.address }}</p>
                        {% endif %}
                        {% if birth_certificate.fokotany %}
                        <p><b>{% trans 'fokotany'|capfirst %} :</b> {{ birth_certificate.fokotany.name|title }}</p>
                        {% endif %}
                    </div>
                    <div class="flex flex-row  flex-wrap gap-x-10 gap-y-4 w-full">
                        {% if person.father %}
                        <div class="flex flex-col">
                            <a 
                            href="{{ person.father.url_detail }}" title="{{ person.father.full_name }} ({{ person.father.status }})" 
                            class="flex flex-nowrap items-center cursor-pointer hover:text-gray-700">
                                <span class="text-lg {% if person.father == birth_certificate.declarer %}underline underline-offset-2{% endif %}"><b>{% if person.is_recognized %}⬇ {% endif %}{% trans 'father'|capfirst %}: </b> {{ person.father.full_name }}</span>
                                <div class="ml-2 w-3 h-3 ring-2 rounded-full
                                    {% if not person.father.is_alive %}
                                    bg-gray-400 ring-gray-300
                                    {% else %}
                                    bg-green-500 ring-green-400
                                    {% endif %}">
                                </div>
                            </a>
                            {% if person.father.birthday %}
                            <p class="text-sm ml-5"><b>{% trans 'birthday'|capfirst %} :</b> {{ person.father.birthday|date:'d-m-Y' }}</p>
                            {% endif %}

                            {% if person.father.address %}
                            <p class="text-sm ml-5"><b>{% trans 'address'|capfirst %} :</b> {{ person.father.address }}</p>
                            {% endif %}

                            {% if person.father.carreer %}
                            <p class="text-sm ml-5"><b>{% trans 'carreer'|capfirst %} :</b> {{ person.father.carreer }}</p>
                            {% endif %}

                        </div>
                        {% endif %}
                        {% if person.mother %}
                        <div class="flex flex-col">
                            <a 
                            href="{{ person.mother.url_detail }}" title="{{ person.mother.full_name }} ({{ person.mother.status }})" 
                            class="flex flex-nowrap items-center cursor-pointer hover:text-gray-700"> 
                                <span class=" text-lg {% if person.mother == birth_certificate.declarer %}underline underline-offset-2{% endif %}"><b>{% trans 'mother'|capfirst %}: </b> {{ person.mother.full_name }}</span>
                                <div class="ml-2 w-3 h-3 ring-2 rounded-full
                                    {% if not person.mother.is_alive %}
                                    bg-gray-400 ring-gray-300
                                    {% else %}
                                    bg-green-500 ring-green-400
                                    {% endif %}">
                                </div>
                            </a>
                            {% if person.mother.birthday %}
                            <p class="text-sm ml-5"><b>{% trans 'birthday'|capfirst %} :</b> {{ person.mother.birthday|date:'d-m-Y' }}</p>
                            {% endif %}
                            {% if person.mother.address %}
                            <p class="text-sm ml-5"><b>{% trans 'address'|capfirst %} :</b> {{ person.mother.address }}</p>
                            {% endif %}
                            {% if person.mother.carreer %}
                            <p class="text-sm ml-5"><b>{% trans 'carreer'|capfirst %} :</b> {{ person.mother.carreer }}</p>
                            {% endif %}
                        </div>  
                        {% endif %}
                    </div>
                    <div class="w-fit">
                        {% if birth_certificate.declarer and birth_certificate.declarer != person.father and birth_certificate.declarer != person.mother %}
                        <a href="{{ birth_certificate.declarer.url_detail }}" title="{{ birth_certificate.declarer.full_name }} ({{ birth_certificate.declarer.status }})"  class="flex items-center gap-1 flex-nowrap hover:text-gray-700"><b>{% trans 'declarer'|capfirst %} :</b> {{ birth_certificate.declarer }}
                            <div class="ml-1 w-3 h-3 ring-2 rounded-full
                                {% if not birth_certificate.declarer.is_alive %}
                                bg-gray-400 ring-gray-300
                                {% else %}
                                bg-green-500 ring-green-400
                                {% endif %}">
                            </div>
                        </a>
                        {% endif %}
                        {% if marriage_certificate.groom == person %}
                        <a href="{{ marriage_certificate.bride.url_detail }}" title="{{ marriage_certificate.bride.full_name }} ({{ marriage_certificate.bride.status }})"  class="flex items-center gap-1 flex-nowrap hover:text-gray-700"><b>{% trans 'wife'|capfirst %} :</b> {{ marriage_certificate.bride }}
                            <div class="ml-1 w-3 h-3 ring-2 rounded-full
                                {% if not marriage_certificate.bride.is_alive %}
                                bg-gray-400 ring-gray-300
                                {% else %}
                                bg-green-500 ring-green-400
                                {% endif %}">
                            </div>
                        </a>
                        {% elif marriage_certificate.bride == person %}
                        <a href="{{ marriage_certificate.groom.url_detail }}" title="{{ marriage_certificate.groom.full_name }} ({{ marriage_certificate.groom.status }})"  class="flex items-center gap-1 flex-nowrap hover:text-gray-700"><b>{% trans 'husband'|capfirst %} :</b> {{ marriage_certificate.groom }}
                            <div class="ml-1 w-3 h-3 ring-2 rounded-full
                                {% if not marriage_certificate.groom.is_alive %}
                                bg-gray-400 ring-gray-300
                                {% else %}
                                bg-green-500 ring-green-400
                                {% endif %}">
                            </div>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-4 justify-between whitespace-nowrap w-fit">
            <div class="space-y-2 text-end">
                <p class="text-xl text-right tracking-widest"><b>PK :</b> {{ person.pk_str }}</p>
            </div>
            <div class="flex gap-x-7 justify-end whitespace-nowrap">
                <div class="flex justify-center items-center h-full">{{ age }}</div>
                <div class="flex justify-center items-center h-full">{{ person.is_married_str|capfirst }}</div>
                <div class="ml-2 w-5 h-5 ring-2 rounded-full
                    {% if not person.is_alive %}
                    bg-gray-400 ring-gray-300
                    {% else %}
                    bg-green-500 ring-green-400
                    {% endif %}"
                    title="{{ person.status }}">
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-7 rounded-b-3xl p-4 bg-white min-h-[500px]">
        <div class="flex justify-between gap-2">
            <p class="text-sm">Date created : {{ person.date_created|date:'d-m-Y H:i' }}</p>
            <p class="text-sm">Date modified : {{ person.date_modified|date:'d-m-Y H:i' }}</p>
        </div>
        <div class="flex flex-wrap justify-center gap-7">
            {% if birth_certificate %}
            <a href="" class="flex items-center p-4 gap-4 rounded-xl shadow-md w-fit">
                <div class="flex rounded-full min-w-16 min-h-16 items-center justify-center border-4 border-blue-500 text-xl font-semibold">
                    {{ birth_doc.count }}
                </div>
                <div class="flex flex-col">
                    <p class="text-md font-semibold">{% trans "Birth Copy"|upper %}</p>
                    <p class="text-gray-600"><b class="text-blue-400">N°</b> {{ birth_certificate.numero }}</p>
                    <div class="text-sm">
                        <p title="{{ birth_certificate.person.birthday|date:'d-m-Y H:i' }}" class="text-gray-600"><b class="text-blue-400">{% trans 'date'|capfirst %} :</b> {{ birth_certificate.person.birthday|date:'d/m/Y' }}</p>
                        <p title="{{ birth_certificate.date_declaration|date:'d-m-Y H:i' }} --- {{ birth_certificate.declarer}}" class="text-gray-600"><b class="text-blue-400">{% trans 'declaration date'|capfirst %} :</b> {{ birth_certificate.date_declaration|date:'d/m/Y' }}</p>
                        <p title="{{ birth_certificate.date_register|date:'d-m-Y H:i' }}" class="text-gray-600"><b class="text-blue-400">{% trans 'register date'|capfirst %} :</b> {{ birth_certificate.date_register|date:'d/m/Y' }}</p>
                    </div>
                </div>
            </a>
            {% endif %}
            {% if birth_certificate.is_recognized %}
            <a href="" class="flex items-center p-4 gap-4 rounded-xl shadow-md w-fit">
                <div class="flex rounded-full min-w-16 min-h-16 items-center justify-center border-4 border-orange-500 text-xl font-semibold">
                    {{ recognization_doc.count }}
                </div>
                <div class="flex flex-col">
                    <p class="text-md font-semibold">{% trans "Recognization Copy"|upper %}</p>
                    <p class="text-gray-600"><b class="text-orange-400">N°</b> {{ recognization_certificate.numero }}</p>
                    <div class="text-sm">
                        <p title="{{ recognization_certificate.date_register|date:'d-m-Y H:i' }} --- {{ recognization_certificate.recognized_by }}" class="text-gray-600"><b class="text-orange-400">{% trans 'date'|capfirst %} :</b> {{ recognization_certificate.date_register|date:'d/m/Y' }}</p>
                        <p title="{{ recognization_certificate.date_declaration|date:'d-m-Y H:i' }} --- {{ recognization_certificate.declarer}}" class="text-gray-600"><b class="text-orange-400">{% trans 'declaration date'|capfirst %} :</b> {{ recognization_certificate.date_declaration|date:'d/m/Y' }}</p>
                        <p title="{{ recognization_certificate.date_register|date:'d-m-Y H:i' }}" class="text-gray-600"><b class="text-orange-400">{% trans 'register date'|capfirst %} :</b> {{ recognization_certificate.date_register|date:'d/m/Y' }}</p>
                    </div>
                </div>
            </a>
            {% endif %}
            {% if person.has_marriage_certificate %}
            <a href="" class="flex items-center p-4 gap-4 rounded-xl shadow-md w-fit">
                <div class="flex rounded-full min-w-16 min-h-16 items-center justify-center border-4 border-rose-500 text-xl font-semibold">
                    {{ marriage_doc.count }}
                </div>
                <div class="flex flex-col">
                    <p class="text-md font-semibold">{% trans "Marriage Copy"|upper %}</p>
                    <p class="text-gray-600"><b class="text-rose-400">N°</b> {{ marriage_certificate.numero }}</p>
                    <div class="text-sm">
                        <p title="{{ marriage_certificate.wedding_day|date:'d-m-Y H:i' }}" class="text-gray-600"><b class="text-rose-400">{% trans 'date'|capfirst %} :</b> {{ marriage_certificate.wedding_day|date:'d/m/Y' }}</p>
                        <p title="{{ marriage_certificate.date_declaration|date:'d-m-Y H:i' }} --- {{ marriage_certificate.witness_groom }} & {{ marriage_certificate.witness_bride }}" class="text-gray-600"><b class="text-rose-400">{% trans 'declaration date'|capfirst %} :</b> {{ marriage_certificate.date_declaration|date:'d/m/Y' }}</p>
                        <p title="{{ marriage_certificate.date_register|date:'d-m-Y H:i' }}" class="text-gray-600"><b class="text-rose-400">{% trans 'register date'|capfirst %} :</b> {{ marriage_certificate.date_register|date:'d/m/Y' }}</p>
                    </div>
                </div>
            </a>
            {% endif %}
            {% if person.has_death_certificate %}
            <a href="" class="disabled:cursor-not-allowed flex items-center p-4 gap-4 rounded-xl shadow-md w-fit">
                <div class="flex rounded-full min-w-16 min-h-16 items-center justify-center border-4 border-gray-500 text-xl font-semibold">
                    {{ death_doc.count }}
                </div>
                <div class="flex flex-col">
                    <p class="text-md font-semibold">{% trans "Death Copy"|upper %}</p>
                    <p class="text-gray-600"><b class="text-gray-400">N°</b> {{ death_certificate.numero }}</p>
                    <div class="text-sm">
                        <p title="{{ death_certificate.death_day|date:'d-m-Y H:i' }}" class="text-gray-600"><b class="text-gray-400">{% trans 'date'|capfirst %} :</b> {{ death_certificate.death_day|date:'d/m/Y' }}</p>
                        <p title="{{ death_certificate.date_declaration|date:'d-m-Y H:i' }} --- {{ death_certificate.declarer}}" class="text-gray-600"><b class="text-gray-400">{% trans 'declaration date'|capfirst %} :</b> {{ death_certificate.date_declaration|date:'d/m/Y' }}</p>
                        <p title="{{ death_certificate.date_register|date:'d-m-Y H:i' }}" class="text-gray-600"><b class="text-gray-400">{% trans 'register date'|capfirst %} :</b> {{ death_certificate.date_register|date:'d/m/Y' }}</p>
                    </div>
                </div>
            </a>
            {% endif %}
        </div>

        <!-- Liste de Copies de Naissance -->
         <div class="container flex flex-wrap gap-4 py-4 max-h-80 overflow-auto">
            {% for doc in document %}
            <form method="get" action="{{ doc.get_absolute_url }}"
            class="w-fit shadow-md rounded-lg bg-white hover:bg-blue-50"
            title="N° {{ doc.numero }} --- {{ doc.type_str }} --- 
            {% if doc.is_original %}
            Original
            {% else %}
            {{ doc.get_price|intcomma }} Ar --- x{{ doc.num_copy }} --- {{ doc.get_total_price|intcomma }} Ar
            {% endif %}
            {% if doc.notes %} --- {{ doc.notes }}{% endif %}"
            >
                <input type="hidden" name="client_detail" value="{{ doc.notes }}">
                <input type="hidden" name="many_cp" value="{{ doc.num_copy }}">
                <input type="hidden" name="type_cert" value="{{ doc.type_cert }}">
                <button class="p-4 space-x-2 whitespace-nowrap h-full">
                <span class="
                font-semibold
                {% if doc.type_cert == 'birth_doc' %}
                text-blue-400
                {% elif doc.type_cert == 'recognization_doc' %}
                text-orange-400
                {% elif doc.type_cert == 'marriage_doc' %}
                text-rose-400
                {% elif doc.type_cert == 'death_doc' %}
                text-gray-400
                {% endif %}
                ">{{ doc.date_created|date:"d-m-Y H:i" }} </span>
                --- N° {{ doc.numero }} --- {{ doc.type_str }} --- 
                {% if doc.is_original %}
                Original
                {% else %}
                {{ doc.get_total_price|intcomma }} Ar
                {% endif %}
                <span class="px-2 py-1 text-xs rounded-full text-white
                {% if doc.status == 'V' %}
                bg-orange-400
                {% elif doc.status == 'D' %}
                bg-yellow-400
                {% endif %}
                ">{{ doc.status_str }}</span>
                </button>
            </form>
            {% endfor %}
         </div>

        <!-- Boutons d'Actions -->
         <div class="flex flex-col items-center fixed gap-2 rounded-xl bg-white shadow-md max-w-72 p-4 right-10 bottom-7 max-md:right-5 max-md:bottom-5 transform animate-out duration-300">
            <input type="checkbox" name="" id="show-action" class="hidden peer">
            <label for="show-action" class="hidden max-2xl:block peer-checked:hidden text-3xl font-extralight px-2 rounded-lg cursor-pointer w-full h-full text-center">+</label>
            {% comment %} <a class="hidden max-2xl:hidden peer-checked:block px-4 py-2 border border-white text-white shadow-md bg-gray-300 rounded-lg w-full text-center cursor-not-allowed"
            title="En construction"
            >
                {% translate "Arbre de Famille" %}
            </a>
            <a class="hidden max-2xl:hidden peer-checked:block px-4 py-2 border border-white text-white shadow-md bg-gray-300 rounded-lg w-full text-center cursor-not-allowed"
            title="En construction"
            >
                {% translate "Arbre Généalogique" %}
            </a> {% endcomment %}
            <form action="{{ person.url_preview }}" method="get" class="max-2xl:hidden peer-checked:flex flex flex-col gap-1">
                <div class="flex flex-wrap gap-x-2 justify-center">
                    <button type="button" onclick="downManyCp()" class="px-4 text-xl bg-gray-100 rounded-lg">-</button>
                    <input id="id_many_cp" name="many_cp" type="number" value=1 min=1 max=10 class="text-end w-16 focus:ring-0 border-0 border-b-2">
                    <button type="button" onclick="upManyCp()" class="px-4 text-xl bg-gray-100 rounded-lg">+</button>
                    <div class="flex w-full">
                        <select name="client_gender" id="id-client-gender" class="border-0 border-b-2 focus:ring-0">
                            <option value="M">{% translate "Mr" %}</option>
                            <option value="F">{% translate "Mrs" %}</option>
                        </select>
                        <input type="text" name="client_detail" id="id-client-field"
                        placeholder="{% translate 'About the client' %}"
                        class="w-full border-0 border-b-2 focus:ring-0">
                    </div>
                    <select name="responsible" id="id-responsible" class="flex w-full border-0 border-b-2 focus:ring-0">
                        {% for staff in responsible_staffs %}
                        <option value="{{ staff.pk }}">{{ staff.full_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% if person.has_birth_certificate %}
                <button name="type_cert" value="birth" class="px-4 py-2 border border-white text-white shadow-md bg-green-600 hover:bg-green-500 rounded-lg w-full text-center cursor-pointer"
                title="{% translate 'Make Cp. Birth' %}"
                >
                    {% translate "Make Cp. Birth" %}
                </button>
                {% endif %}
                {% if person.has_recognization_certificate %}
                <button name="type_cert" value="recognization" class="px-4 py-2 border border-white text-white shadow-md bg-green-600 hover:bg-green-500 rounded-lg w-full text-center cursor-pointer"
                title="{% translate 'Make Cp. Recognization' %}"
                >
                    {% translate "Make Cp. Recognization" %}
                </button>
                {% endif %}
                {% if person.has_marriage_certificate %}
                <button name="type_cert" value="marriage" class="px-4 py-2 border border-white text-white shadow-md bg-green-600 hover:bg-green-500 rounded-lg w-full text-center cursor-pointer"
                title="{% translate 'Make Cp. Marriage' %}"
                >
                    {% translate "Make Cp. Marriage" %}
                </button>
                {% endif %}
                {% if person.has_death_certificate %}
                <button name="type_cert" value="death" class="px-4 py-2 border border-white text-white shadow-md bg-green-600 hover:bg-green-500 rounded-lg w-full text-center cursor-pointer"
                title="{% translate 'Make Cp. Death' %}"
                >
                    {% translate "Make Cp. Death" %}
                </button>
                {% endif %}
            </form>
            <div class="max-2xl:hidden peer-checked:flex flex flex-col w-full gap-1">
                {% if not person.has_birth_certificate %}
                <form method='post' action="{% url 'civil:birth-register' %}">
                    {% csrf_token %}
                    <button name="person_pk" value="{{ person.pk }}" class="px-4 py-2 border border-white text-white shadow-md bg-yellow-500 hover:bg-yellow-400 rounded-lg w-full text-center cursor-pointer"
                    title="{% translate 'Birth Certificate' %}"
                    >
                    {% translate "Birth Certificate" %}
                    </button>
                </form>
                {% endif %}
                {% if birth_certificate.can_recognize %}
                <form method='post' action="{% url 'civil:birth-register' %}">
                    {% csrf_token %}
                    <button name="cert_pk" value="{{ birth_certificate.pk }}" class="px-4 py-2 border border-white text-white shadow-md bg-yellow-500 hover:bg-yellow-400 rounded-lg w-full text-center cursor-pointer"
                    title="{% translate 'Recognize' %}"
                    >
                        {% translate "Recognize" %}
                    </button>
                </form>
                {% endif %}
                {% if not marriage_certificate %}
                <form method='post' action="{% url 'civil:marriage-register' %}">
                    {% csrf_token %}
                    <button name="cert_pk" value="{{ person.pk }}" class="px-4 py-2 border border-white text-white shadow-md bg-yellow-500 hover:bg-yellow-400 rounded-lg w-full text-center cursor-pointer"
                    title="{% translate 'Marriage Certificate' %}"
                    >
                        {% translate "Marriage Certificate" %}
                    </button>
                </form>
                {% endif %}
                {% if not person.has_death_certificate %}
                <form method='post' action="{% url 'civil:death-register' %}">
                    {% csrf_token %}
                    <button name="person_pk" value="{{ person.pk }}" class="px-4 py-2 border border-white text-white shadow-md bg-yellow-500 hover:bg-yellow-400 rounded-lg w-full text-center cursor-pointer"
                    title="{% translate 'Death Certificate' %}"
                    >
                    {% translate "Death Certificate" %}
                    </button>
                </form>
                {% endif %}
            </div>
         </div>
    </div>
</div>

<script>
    function downManyCp() {
        if ($('#id_many_cp').val() > 1) {
            $('#id_many_cp').val(Number($('#id_many_cp').val()) - 1);
        }
    }

    function upManyCp() {
        if ($('#id_many_cp').val() < 10) {
            $('#id_many_cp').val(Number($('#id_many_cp').val()) + 1);
        }
    }
    function supprimCertificate(){
        if (confirm('{% trans "Are you sure you want to delete this person ? This action will delete all documents that attached to it." %}')) {
            document.location.assign("{% url 'civil:person-delete' 1 %}".replace('1', Number.parseInt('{{ person.pk|safe }}')));
        }
    }
</script>

{% endblock article %}
