{% extends "action_base.html" %}
{% block action %}
{% load humanize %}
{% load i18n %}
<form method="get" class="flex flex-col">
    <div class="flex flex-wrap gap-4 justify-between items-center w-full mb-10">
        <div class="flex items-center">
            <select name="line" onchange="this.form.submit()" id="id_line_select" class="border-none focus:ring-0 text-right bg-gray-100 rounded-xl mr-2" required>
                <option value="10" {% if table_length == '10' %}selected{%endif%}>10</option>
                <option value="50" {% if table_length == '50' %}selected{%endif%}>50</option>
                <option value="100" {% if table_length == '100' %}selected{%endif%}>100</option>
            </select>
            <label for="id_line_select" class="text-md font-semibold">{% translate "Lines" %}</label>
        </div>
        <div class="flex flex-row">
            <button type="submit" name="paging" value="{{prev_page}}" class="py-2 px-3 rounded-md bg-gray-200 text-center font-extrabold cursor-pointer"><</button>
            <div class="p-2 text-center">
                <input type="text" value="{{ num_page }}" class="w-10 text-right ring-0 border-none focus:ring-0 h-4 p-0" name="num_page" id="id_num_page">
                {{ per_page }}
            </div>
            <button type="submit" name="paging" value="{{next_page}}" class="py-2 px-3 rounded-md bg-gray-200 text-center font-extrabold cursor-pointer">></button>
        </div>
        <div class="flex flex-row gap-2">
            <select name="search_filter" id="id_search_filter"
            class="text-right font-semibold focus:ring-0 border-0 border-b-2 border-gray-400"
            >
            <optgroup>
                <legend>{% translate 'Column' %}</legend>
                    {% for header in table.headers %}
                        <option value="{{ forloop.counter0 }}" {% if searched_domain == forloop.counter0 %}selected{% endif %}>{{ header.header|title }}</option>
                    {% endfor %}
                </optgroup>
            </select>
            <div class="w-56" id="id_search_fields">
                <input type="date" name="q" class="border-0 border-b-2 rounded-lg w-full">
                <input type="number" name="q" placeholder="0" class="border-0 border-b-2 rounded-lg w-full text-right">
                <input type="search" name="q" id="id_query" placeholder="Rechercher..." class="border-0 border-b-2 rounded-lg w-full" {% if request.GET.q %}value="{{ request.GET.q }}"{% endif %}>
                <select name="q" id="id_query_select" class="border-0 border-b-2 rounded-lg w-full text-right"></select>
            </div>
            <button type="submit" class="py-2 px-6 rounded-lg bg-blue-600 text-white">{% translate "Valid" %}</button>
        </div>
    </div>
    <div class="overflow-auto">
        <div class="table w-full">
            <div class="table-header-group text-md font-semibold border-b">
                {% for header in table.headers %}
                    <div title="{% translate 'click for sorting' %}" class="table-cell px-4 py-2 text-center text-nowrap border-b-2 border-gray-200 cursor-pointer">
                        <button type="submit" name="order" value="{{ header.header }}"  class="inline-block w-full">{{ header.header|title }}</button> {% if header.header != "action" %}{% if request.GET.order == header.header %}{% if not request.session.order_sense %}⬇{% else %}⬆{% endif %}{% endif %}{% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="table-row-group">
                {% for data in table.datas %}
                <div class="table-row {% cycle 'bg-white' 'bg-gray-200' %} cursor-pointer border-b border-white hover:bg-blue-400 hover:text-white items-center">
                    {% for cell in data.row %}
                    {% if cell.header == "action" %}
                    <div class="peer table-cell sticky py-1 px-4 right-0 invisible peer-hover:visible hover:visible">
                        <div class="flex flex-row flex-nowrap justify-center gap-3">  
                            {% for button in cell.buttons %}                 
                            <a href="{% url button.url data.pk %}" class="px-3 py-1 text-white rounded-md ring-2 ring-white 
                            {% if button.style == 'green' %}
                            bg-green-600
                            {% elif button.style == 'blue' %}
                            bg-blue-600
                            {% elif button.style == 'red' %}
                            bg-rose-600
                            {% endif %}
                            ">{{ button.name|capfirst }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    {% else %}
                    <a 
                    {% if cell.header == "full name" %}
                    href="{% url data.detail_url data.pk %}"
                    {% elif data.father_cert_pk and cell.header == "father" %}
                    href="{% url data.detail_url data.father_cert_pk %}"
                    {% elif data.mother_cert_pk and cell.header == "mother" %}
                    href="{% url data.detail_url data.mother_cert_pk %}"
                    {% endif %}
                    class="peer table-cell px-4 py-2 {{ cell.style }}" title="{{ cell.title }}">
                        {{ cell.value }}
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</form>

<script>
    const headers = {{ table.headers|safe }};

    $('#id_search_fields').children().each((i, e) => {
        if (e.getAttribute("type") === headers[{{ searched_domain|safe }}].type){
            e.setAttribute("style", "");
            $(e).val("{{ request.GET.q|safe }}");
            e.setAttribute("name", "q");
        } else if($(e).is(headers[{{ searched_domain|safe }}].type)){
            const select = headers[{{ searched_domain|safe }}].select;
            console.log();
            $(e).children().remove();
            for (let index = 0; index < Object.values(select).length; index++) {
                if ("{{ q_value|safe }}" === Object.keys(select)[index]){
                    $(e).append("<option class='text-center' value="+Object.keys(select)[index]+" selected>"+Object.values(select)[index]+"</option>");
                } else {
                    $(e).append("<option class='text-center' value="+Object.keys(select)[index]+">"+Object.values(select)[index]+"</option>");
                }
            }
            e.setAttribute("style", "");
            $(e).focus();
            e.setAttribute("name", "q");
        }  else {
            e.setAttribute("style", "display: none");
            e.setAttribute("name", "");
        }
    });
    
    // Auto-changement quand une colonne à rechercher est sélectionné
    $('#id_search_filter').on('change', function(e) {
        console.log(headers[this.value]);
        console.log($('#id_search_fields').children()[0].focus());
        console.log('[type=0]'.replace('0', headers[this.value].type));

        $('#id_search_fields').children().each((i, e) => {
            if (e.getAttribute("type") === headers[this.value].type){
                e.setAttribute("style", "");
                $(e).focus();
                e.setAttribute("name", "q");
            } else if($(e).is(headers[this.value].type)){
                const select = headers[this.value].select;
                console.log();
                $(e).children().remove()
                for (let index = 0; index < Object.values(select).length; index++) {
                    $(e).append("<option class='text-center' value="+Object.keys(select)[index]+">"+Object.values(select)[index]+"</option>");
                }
                e.setAttribute("style", "");
                $(e).focus();
                e.setAttribute("name", "q");
            } else {
                e.setAttribute("style", "display: none");
                e.setAttribute("name", "");
            }
        });
    });
</script>
{% endblock action %}
