{% extends "action_base.html" %}
{% block action %}
{% load humanize %}
{% load i18n %}
<form method="get" class="flex flex-col gap-y-8">
    <div class="flex flex-wrap gap-4 justify-between items-center w-full">
        <div class="flex items-center">
            <select name="line" onchange="this.form.submit()" id="id_line_select" class="border-none focus:ring-0 text-right bg-gray-100 rounded-xl mr-2" required>
                <option value="10" {% if table_length == '10' %}selected{%endif%}>10</option>
                <option value="50" {% if table_length == '50' %}selected{%endif%}>50</option>
                <option value="100" {% if table_length == '100' %}selected{%endif%}>100</option>
            </select>
            <label for="id_line_select" class="text-md font-semibold">{% translate "Lines" %}</label>
        </div>
        <div class="flex flex-row flex-wrap gap-2">
            <select name="search_filter" disabled id="id_search_filter"
            class="text-center font-semibold focus:ring-0 border-0 border-b-2 border-gray-400"
            >
            <optgroup>
                <legend>{% translate 'Column' %}</legend>
                    {% for header in table.headers %}
                        {% if header.name != "status" %}
                        <option value="{{ forloop.counter0 }}" {% if searched_domain == forloop.counter0 %}selected{% endif %}>{{ header.header|title }}</option>
                        {% endif %}
                    {% endfor %}
                </optgroup>
            </select>
            <div class="w-56" id="id_search_fields">
                <input type="date" name="q" disabled class="border-0 border-b-2 rounded-lg w-full" style="display: none;">
                <input type="number" name="q" placeholder="0" disabled class="border-0 border-b-2 rounded-lg w-full text-right" style="display: none;">
                <input type="search" name="q" id="id_query" placeholder="Rechercher..." disabled class="border-0 border-b-2 rounded-lg w-full" {% if request.GET.q %}value="{{ request.GET.q }}"{% endif %}>
                <select name="q" id="id_query_select" disabled class="border-0 border-b-2 rounded-lg w-full text-center" style="display: none;"></select>
            </div>
            <button type="submit" id="id_search_button" disabled class="py-2 px-6 rounded-lg bg-blue-600 text-white disabled:bg-gray-400">{% translate "Valid" %}</button>
        </div>
    </div>
    <div class="overflow-auto max-h-[500px]">
        <div class="table w-full">
            <div class="table-header-group sticky top-0 z-10 text-md text-white font-semibold border-b">
                <input type="hidden" name="order" value="">
                {% for header in table.headers %}
                <div title="{% translate 'click for sorting' %}" class="table-cell bg-sky-900 hover:bg-sky-800 px-4 py-2 text-center text-nowrap border-b-2 border-gray-200 cursor-pointer">
                    <button type="button" onclick="changeOrder(this)" value="{{ header.name }}" class="inline-block w-full">{% if header.name != "status" %} {{ header.header|title }} {% endif %}</button> {% if header.name != "action" and order_name == header.name %}{% if not request.session.order_asc %}⬇{% else %}⬆{% endif %}{% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="table-row-group">
                {% for data in table.datas %}
                <div class="table-row {% cycle 'bg-white' 'bg-gray-200' %} cursor-pointer border-b border-white hover:bg-sky-600 hover:text-white items-center">
                    {% for cell in data.row %}
                    {% if cell.header == "action" %}
                    <div class="peer table-cell sticky py-1 px-4 right-0 invisible peer-hover:visible hover:visible">
                        {% translate "Are you sure want to delete this certificate ?" as delete_confirm_message %}
                        <div class="flex flex-row flex-nowrap justify-center gap-3">  
                            {% for button in cell.buttons %}                 
                            <a 
                            type="button"
                            {% if button.name == "open" %}
                            href="{{ data.certificate.person.url_detail }}"
                            {% elif button.name == "delete" %}
                            onclick="if(confirm('{{ delete_confirm_message }}')){document.location.assign('{{ data.certificate.get_delete_url }}')}"
                            {% endif %} 
                            class="px-3 py-1 text-white rounded-md ring-2 ring-white 
                            {% if button.style == 'green' %}
                            bg-green-600
                            {% elif button.style == 'blue' %}
                            bg-blue-600
                            {% elif button.style == 'red' %}
                            bg-rose-600
                            {% endif %}
                            ">{{ button.title|capfirst }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    {% else %}
                    <a 
                    {% if cell.header == "full name" %}
                    href="{{ data.certificate.person.url_detail }}"
                    {% elif cell.header == "father" %}
                    href="{{ data.certificate.father.url_detail }}"
                    {% elif cell.header == "mother" %}
                    href="{{ data.certificate.mother.url_detail }}"
                    {% endif %}
                    class="peer table-cell px-4 py-2 
                    {% if cell.header == 'full name' %}
                    hover:bg-sky-500 
                    {% elif cell.header == 'father' %}
                    hover:bg-sky-500 
                    {% elif cell.header == 'mother' %}
                    hover:bg-sky-500 
                    {% endif %}
                    {{ cell.style }}" title="{{ cell.title }}">
                    {% if cell.header == "status" %}
                    <p class="w-5 h-5 ring-2 rounded-full
                        {% if not data.certificate.person.is_alive %}
                        bg-gray-400 ring-gray-300
                        {%  elif cell.value %}
                        bg-sky-500 ring-sky-400
                        {% else %}
                        bg-red ring-orange-400
                        {% endif %}
                        "></p>
                    {% else %}
                        {{ cell.value }}
                    {% endif %}
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% if not table.datas %}
            <div class="flex flex-col justify-center items-center w-full h-[200px] text-3xl font-semibold text-gray-300">
                {% translate "No data" %}
            </div>
        {% endif %}
    </div>
    <div class="flex justify-between">
        <div class="flex flex-row">
            <button type="submit" name="paging" value="{{prev_page}}" class="w-10 h-10 rounded-full text-gray-500 bg-gray-100 hover:text-gray-700 hover:bg-gray-200 text-center font-extrabold cursor-pointer"><</button>
            <div class="p-2 text-center">
                <input type="text" value="{{ num_page }}" class="w-10 text-right ring-0 border-none focus:ring-0 h-7 py-2 focus:bg-gray-100 rounded-md" name="num_page" id="id_num_page">
                {{ per_page }}
            </div>
            <button type="submit" name="paging" value="{{next_page}}" class="w-10 h-10 rounded-full text-gray-500 bg-gray-100 hover:text-gray-700 hover:bg-gray-200 text-center font-extrabold cursor-pointer">></button>
        </div>
        <div class="flex px-5 items-center font-semibold">
            {% blocktranslate count counter=table.datas|length  %}
            {{ counter }} shown element.
            {% plural %}
            {{ counter }} shown elements.
            {% endblocktranslate %}
        </div>
    </div>

</form>

<script>
    function changeOrder(e) {
        $('[name="order"]').val($(e).val() + '_touched');
        console.log($('[name="order"]').val());
        $('form').submit();
    }

    $('[name="order"]').val('{{ request.GET.order|safe }}'.replace('_touched', ''));

    const headers = JSON.parse('{{ table.headers_json|default:"[]"|safe }}');
    const searchedDomainId = Number.parseInt('{{ searched_domain }}');

    console.log(headers[searchedDomainId]);

    $('#id_search_fields').children().each((i, e) => {
        // Pour chaque champ de recherche
        console.log($(e).is("select"));
        console.log(e.getAttribute("type"));
        console.log(e);
        console.log(headers.length <= 0);

        if('{{ is_searching }}' === 'None' & $(".table-row").length <= 0){
            $(e).prop("disabled", true);
            $('#id_search_filter').prop("disabled", true);
            $('#id_search_button').prop("disabled", true);
        } else {
            $(e).prop("disabled", false);
            $('#id_search_filter').prop("disabled", false);
            $('#id_search_button').prop("disabled", false);
        }
        if (e.getAttribute("type") === headers[searchedDomainId].type){
            // Si le type du champ est séléctionné
            console.log(e.getAttribute("type"));
            e.setAttribute("style", "");
            $(e).val("{{ request.GET.q|safe }}");
            e.setAttribute("name", "q");
        } else if($(e).is(headers[searchedDomainId].type)){
                const select = headers[searchedDomainId].select;
                console.log($(e));
                $(e).children().remove();
                for (let index = 0; index < Object.values(select).length; index++) {
                    if ("{{ q_value|safe }}" === Object.keys(select)[index]){
                        $(e).append("<option value="+Object.keys(select)[index]+" selected>"+Object.values(select)[index]+"</option>");
                    } else {
                        $(e).append("<option value="+Object.keys(select)[index]+">"+Object.values(select)[index]+"</option>");
                    }
                }
                e.setAttribute("style", "");
                $(e).focus();
                e.setAttribute("name", "q");
        }  else {
            e.setAttribute("style", "display: none");
            e.setAttribute("name", "");
        }
    });
    
    // Auto-changement quand une colonne à rechercher est sélectionné
    $('#id_search_filter').on('change', function(e) {
        console.log(headers[this.value]);
        console.log($('#id_search_fields').children()[0].focus());
        console.log('[type=0]'.replace('0', headers[this.value].type));

        $('#id_search_fields').children().each((i, e) => {
            if (e.getAttribute("type") === headers[this.value].type){
                e.setAttribute("style", "");
                $(e).focus();
                e.setAttribute("name", "q");
            } else if($(e).is(headers[this.value].type)){
                const select = headers[this.value].select;
                console.log();
                $(e).children().remove()
                for (let index = 0; index < Object.values(select).length; index++) {
                    $(e).append("<option class='text-center' value="+Object.keys(select)[index]+">"+Object.values(select)[index]+"</option>");
                }
                e.setAttribute("style", "");
                $(e).focus();
                e.setAttribute("name", "q");
            } else {
                e.setAttribute("style", "display: none");
                e.setAttribute("name", "");
            }
        });
    });
</script>
{% endblock action %}
