{% extends "action_base.html" %}
{% block action %}
{% load i18n %}
{% translate "Other Informations" as parents_information %}
{% translate 'Matricule' as matricule %}
{% translate 'declarer' as declarer %}

  <style>
    div > label {
      font-weight: 600;
      font-family: sans-serif;
    }
    /* Styles pour les checkboxes */
    fieldset > [type="checkbox"] {
        width: 1.25rem;
        height: 1.25rem;
        cursor: pointer;
    }
  </style>

  <form action="
  {% if menu_name == 'birth' %}
    {% url 'civil:birth-save' %}
  {% elif menu_name == 'death' %}
    {% url 'civil:death-save' %}
  {% endif %}" 
  method="post" class="flex flex-col gap-y-8">
  {% csrf_token %}
  
  {% for title, fields in form.fieldsets_fields.items %}
    {% if title == matricule %}
      <fieldset class="flex justify-between gap-x-8 items-end 
                      max-sm:flex-wrap max-sm:flex-col-reverse max-sm:gap-y-4">
        {% for field in fields %}
          <div>{{ field }}</div>
        {% endfor %}
        <div class="">
          <input type="number" name="number" min=1 required
          class="w-36 text-gray-500 bg-transparent border-0 border-b-2 border-b-gray-300
          outline-none font-medium
          focus:outline-none focus:border-b-blue-400
          focus:ring-0 focus:ring-offset-0 text-center text-lg tracking-widest cursor-pointe cursor-pointer" placeholder="{{ number_initial|default:'001' }}">
        </div>
      </fieldset>

    {% else %}
      {# -- Si le champ est un dictionnaire (comme Informations about Parents) -- #}
      {% if fields.items %}
      <fieldset class="">
        <label for="id_have_parents" class="text-xl font-semibold text-sky-800">{{ title }}</label>
        {% if title == parents_information %}
          <input type="checkbox" name="do_certificate" id="id_have_parents"
                class="peer ml-2" checked title="{% translate 'Do a Certificate' %}">
        {% endif %}
        {% for sub_title, sub_fields in fields.items %}
          <fieldset class="grid  {% if title == parents_information %}hidden peer-checked:grid {% endif %}grid-cols-4 max-xl:grid-cols-3 max-lg:grid-cols-2 max-sm:grid-cols-1 gap-8 mb-5">
            <legend class="text-lg font-semibold text-sky-600 mb-2">{{ sub_title|capfirst }}</legend>
                
              {% for field in sub_fields %}
                <div class="min-w-20 w-full {% if title == parents_information %} parents_information{% if forloop.first %} col-span-full{% endif %}{% endif %}">
                  {{ field.label_tag }} {{ field }}
                </div>
              {% endfor %}
          </fieldset>
        {% endfor %}
      </fieldset>
        
      {# -- Sinon c’est une liste de champs simple -- #}
      {% else %}
        <fieldset class="grid grid-cols-5 max-2xl:grid-cols-4 
                          max-xl:grid-cols-3 max-lg:grid-cols-2 max-sm:grid-cols-1 
                          justify-evenly gap-x-8 gap-y-10 items-start search_person">
          <legend class="text-xl font-semibold text-sky-800 mb-4">{{ title|capfirst }}</legend>
          
          {% for field in fields %}
            <div class="min-w-20 w-full">
              {{ field.label_tag }} {{ field }}
            </div>
          {% endfor %}
        </fieldset>
      {% endif %}
    {% endif %}
  {% endfor %}
  <div class="flex justify-end gap-8 text-white">
    <input type="submit" value="{% trans 'Submit' %}" class="bg-primary px-4 py-3 rounded-lg w-32 cursor-pointer hover:bg-blue-500">
    <input type="reset" value="{% trans 'Reset' %}" class="bg-secondary px-4 py-3 rounded-lg w-32 cursor-pointer hover:bg-gray-500">
  </div>
</form>

  <script>
    $(document).ready(function() {
        
        var is_out = true;
        const menu_name = '{{ menu_name|safe }}';

        function searchPerson(e){
          var search_container = $(e.target).next().children('[data-id="id-results-container"]');
          console.log(search_container);
          search_container.empty();

          if(String($(e.target).val()).length >= 2){
            console.log(String($(e.target)).length);
            console.log($(e.target).attr('data-gender'));

            // Requête AJAX pour faire une recherche
            $.ajax({
                url: "{% url 'civil:search-person' 0 1 %}".replace('0', $(e.target).attr('data-gender')).replace('1', $(e.target).val()),  // Ajustez l'URL selon votre configuration
                method: 'GET',
                success: function(data) {
                    // Remplir les champs du père
                    data.person_list.forEach(person_id => {
                      console.log(person_id);
                      search_container.append('<button type="button" name="result-btn" data-value="'+ person_id +'" title="'+ data.person_name[person_id] +'" class="contain-content p-4 shadow-sm rounded-md cursor-pointer w-full text-nowrap text-ellipsis text-left hover:bg-blue-100">'+ data.person_name[person_id] +'<button>')
                        
                    });

                    var val_actu = $(e.target).val();

                    search_container.children('button').on('mouseenter', (i)=>{
                      is_out = false;
                      console.log('HOVER')
                      $(e.target).val('');
                      $(e.target).val($(i.target).text());
                    });

                    search_container.on('mouseleave', (i)=>{
                      console.log('OUTTTTTTTTTTTTT');
                      is_out = true;
                      $(e.target).val(val_actu);
                    });

                    search_container.children('button').on('click', (i)=>{
                      console.log($(i.target))
                      console.log($(i.target).attr('data-value'))
          
                      // Requête AJAX pour récupérer les détails du père
                      $.ajax({
                          url: "{% url 'civil:person-details' 0 %}".replace('0', $(i.target).attr('data-value')),  // Ajustez l'URL selon votre configuration
                          method: 'GET',
                          success: function(data) {
                            console.log(data);
                            
                            $(e.target).parents('fieldset').children('div').each((index, element)=>{
                              var autocomplete_field = $(element);
                              if (!autocomplete_field.children().is("input, select")){
                                autocomplete_field = $(element).children('div');
                              }

                              console.log(autocomplete_field);

                              if (autocomplete_field.children("input, select").attr('id').search("last_name") != -1){
                                autocomplete_field.children("input, select").val(data.last_name);
                              }
                              else if (autocomplete_field.children("input, select").attr('id').search("first_name") != -1){
                                autocomplete_field.children("input, select").val(data.first_name);
                              }
                              else if (autocomplete_field.children("input, select").attr('id').search("gender") != -1){
                                autocomplete_field.children("input, select").val(data.gender);
                              }
                              else if (autocomplete_field.children("input, select").attr('id').search("birth_place") != -1){
                                autocomplete_field.children("input, select").val(data.birth_place);
                              }
                              else if (autocomplete_field.children("input, select").attr('id').search("birthday") != -1){
                                autocomplete_field.children("input, select").val(data.birthday);
                              } else {
                                console.log('Cette donnée n\'a pas de champ !!!');
                              }
                            });
                            
                            console.log('✅ Informations du père chargées avec succès');
                          },
                          error: function(xhr, status, error) {
                              console.error('❌ Erreur lors du chargement des informations du père:', error);
                              alert('Erreur lors du chargement des informations du père');
                          }
                      });
                      
                      search_container.parent().remove();
                      searched_person = $('.searched_person');
                      is_out = true;
                    });
                    
                    console.log('✅ Informations du père chargées avec succès');
                },
                error: function(xhr, status, error) {
                    console.error('❌ Erreur lors du chargement des informations du père:', error);
                    // alert('Erreur lors du chargement des informations du père');
                      $('[data-id="id-results-container"]').replaceAll('<p>Aucune personne trouvée</p>');
                }
            });
          } else {
            search_container.append(
                "<p>En attente d\'au moins 2 caractères...</p>"
            );
          }
        }

        var searched_person = $('.searched_person');

        searched_person.on('focus', (e)=>{
          searched_person = $(e.target);
          // $('main').scroll((i)=>{
          //   e.target.scrollIntoView(true);

          // });
          
          if($(e.target).next().length === 0) {
            $(e.target.parentElement).append(
              '<div data-id="id-results" class="w-full max-h-0">\
                <div data-id="id-results-container" class="sticky max-h-48 w-full overflow-y-auto bg-white shadow-md rounded-b-lg p-2">\
                  <div><p>En attente d\'au moins 2 caractères...</p></div>\
                </div>\
              </div>'
            );
          }
          searchPerson(e);
        });
        
        searched_person.on('input', (e)=>{
          searchPerson(e);
        });

        searched_person.on('focusout', (e)=>{
          if (is_out){
            $(e.target).next().remove();
            searched_person = $('.searched_person');
          }
        });

        // Configuration de base des selects Select2
        // $('.select2').select2({
        //     width: '100%',
        // });

        // Gestion de l'affichage conditionnel pour les informations des parents
        function toggleFamilyFields(e){
          $(e).parents('fieldset').children('fieldset').each((index, element)=>{
            if($(e).is(':checked')){
              $(element).find('input:checkbox').prop('checked', true);
              if(index === 1 & menu_name === 'birth'){
                $(element).find('input:checkbox').first().prop('required', true);
              }
            } else {
              $(element).find('input:checkbox').prop('checked', false);
              if(index === 1 & menu_name === 'birth'){
                $(element).find('input:checkbox').first().prop('required', false);
              }
            }
            console.log($(element).find('input:checkbox').first());
            toggleFields($(element).find('input:checkbox').first());
          });
        }
        
        // Gestion de l'affichage conditionnel des champs du groupe
        function toggleFields(e) {
          const fieldset = $(e).parents('fieldset').first();

          console.log(e);

          if ($(e).is(':checked')) {
            fieldset.children('div').each((index, element)=>{
              if(index > 0){
                $(element).show();
                $(element).children('[data-type="last_name"], [type="text"], [type="datetime-local"]').prop('required', true);
                console.log($(element).children('[type="search"], [type="text"], [type="datetime-local"]'));
              }
            });
          } else {
            fieldset.children('div').each((index, element)=>{
              if(index > 0){
                $(element).hide();
                $(element).children('[data-type="last_name"], [type="text"], [type="datetime-local"]').prop('required', false);
              }
            });
          }
        }
        
        // Écouter les changements sur les checkboxes
        $('#id_have_parents').change((e)=>toggleFamilyFields(e.target));
        $('#id_father_exist').change((e)=>toggleFields(e.target));
        $('#id_mother_exist').change((e)=>toggleFields(e.target));
        
        toggleFields($('#id_father_exist'));
        toggleFields($('#id_mother_exist'));
});
    </script>

{% endblock action %}
